body {
    font-family: "Comic Sans MS";
    background: #2b2a32;
}
#headTable {
    font-size: 60px;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

    background-blend-mode: screen;
    background:
            linear-gradient(transparent, limegreen),
            linear-gradient(-90deg, skyblue, transparent),
            linear-gradient(90deg, coral, transparent);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#headTable:hover {
    background-image:  linear-gradient(limegreen, transparent),
    linear-gradient(90deg, skyblue, transparent),
    linear-gradient(-90deg, coral, transparent);
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(45deg, skyblue, coral, yellow) 1;
}

#clock {
    text-align: center;
    font-size: 50px;
    background-blend-mode: screen;
    background:
            linear-gradient(transparent, limegreen),
            linear-gradient(-90deg, skyblue, transparent),
            linear-gradient(90deg, coral, transparent);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 400px;
    margin-right: 500px;
}

#clock:hover {
    background-image:  linear-gradient(limegreen, transparent),
    linear-gradient(90deg, skyblue, transparent),
    linear-gradient(-90deg, coral, transparent);
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(45deg, skyblue, coral, yellow) 1;
}

#date {
    text-align: center;
    font-size: 40px;
    background-blend-mode: screen;
    background:
            linear-gradient(transparent, limegreen),
            linear-gradient(-90deg, skyblue, transparent),
            linear-gradient(90deg, coral, transparent);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 500px;
}
#toApplication {
    text-align: center;
    margin-left: 1100px;
    font-size: 30px;
}
#toApplication:hover {
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(45deg, skyblue, coral, yellow) 1;
}

.my_commandLink {
    color: #a2d9b7;
}

.my_commandLink:hover {
    color: yellow;
}

.my_commandLink:active {
    color: coral;
}