body {
    /*background-size: no-repeat;
 background-image: url(#{request.contextPath}/img/main_pic.jpg);
 background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
     */
    font-size: 40px;
    font-family: "Comic Sans MS";
    text-align: center;

    background-size: 100% 100%;

    background: #2b2a32;
}
#headTable {
    margin-left: 450px;
    margin-top: 100px;
    margin-bottom: 100px;
    outline-color: magenta;
    background: antiquewhite;
    /*border-color: black;
    border-width: medium;

     */
}
#headTable:hover {
    background: aquamarine;
}